[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
mysql-connector = "==2.2.9"
mysql-connector-python = "==8.0.27"
protobuf = "==3.19.1"
pyqt5-plugins = "==5.15.4.2.2"
pyqt5-tools = "==5.15.4.3.2"
python-dotenv = "==0.19.2"
qt5-applications = "==5.15.2.2.2"
qt5-tools = "==5.15.2.1.2"
PyQt5 = "==5.15.4"
PyQt5-Qt5 = "==5.15.2"
PyQt5-sip = "==12.9.0"

[dev-packages]

[requires]
python_version = "3.7"
